:root {
    --color_text: #ecd8ba;
    --copper: #D2945B;
    --melo: #d16d4f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

body {
    background-image: url(../img/photo-1550684376-efcbd6e3f031.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 1rem;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 1rem;
    font-size: 14rem;
    color: var(--color_text);
}

h1 u {
    text-decoration-color: var(--color_text);
}

h2 {
    font-family: "Jersey 15", sans-serif;
    color: var(--color_text);
    font-size: 5.2rem;
    margin-bottom: 3rem;
}

h3 {
    font-family: "Jersey 15", sans-serif;
    letter-spacing: 0.4rem;
    color: var(--color_text);
    font-size: 3.8rem;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6rem 6rem 3.4rem;
    padding: 2rem 4rem;
}

.aaa :hover{
    transform: scale(1.14);
    box-shadow: 0 0 1.5rem color(srgb red green blue);
}

.a {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.4rem 1.8rem 0.4rem;
    border: solid 0.3rem var(--copper);
    border-radius: 0.6rem;
    background: linear-gradient(90deg, #ecd8ba 0%, #D2945B 50%, #d16d4f 100%);
    gap: 1rem;
    text-decoration: none;
    color: black;
}

.hola {
    text-decoration: none;
}

.Optifine {
    width: 220px;
}

figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
}

figcaption {
    color: white;
    font-size: 1.7rem;
}

p, li {
    font-family: "jersey 15", sans-serif;
    font-size: 3rem;
    color: var(--color_text);
}

ol li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

ul {
    margin-left: 2rem;
}

ol {
    margin-left: 2rem;
}

.colorfondo {
    margin: 8rem 14rem 4rem;
    padding: 7rem;
}

.container1 {
    display: flex;
    margin: 0rem 2rem 0rem;
    gap: 3rem;
}

.container2 {
    border: solid 0.3rem var(--copper);
    display: flex;
    flex-direction: column;
    margin: 8rem 2rem 0rem;
}

.art1 {
    margin: 4rem 0rem 0rem;
}

hr {
    background-color: var(--melo);
    border-color: var(--melo) ;
    height: 4px;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
}

img {
    width: 30rem;
    border-radius: 0.6rem;
}

article div img {
    width: 17rem;
}

article p {
    padding: 1.2rem;
}

:target {
    background-color: rgba(210, 148, 91, 0.3);
    border-left: 0.5rem solid var(--copper);
    padding-left: 1rem;
    animation: highlight 0.5s ease;
}

.group {
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.group p {
    text-align: center;
    font-size: 2rem;
}

.min-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    gap: 6.4rem;
}

/* IMPORTED ELEMENTS */ 
.material-symbols-outlined { /*FIRST icon "home" */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 5rem;
}

.material-symbols-outlined { /*THIRD icon "drv" */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 5rem;
}

.jersey-10-regular { /* GOOGLE FONT (TITLE) */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jersey-15-regular {/* GOOGLE FONT (TEXT) */
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* END IPORTED ELEMENTS*/ 
  

@media (max-width:600px) {
    body {
        background-image: url(../img/600px.jpg);
    }
}

@media (max-width:1024px) {
    body {
        background-image: url(../img/1024.jpg);
    }
}

@media (max-width:1980px) {
    body {
        background-image: url(../img/photo-1550684376-efcbd6e3f031.jpg);
    }
}
